.container{
    background: rgb(204, 184, 184);
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-content: center;
    text-align: center;
    font-size: 2rem;
}
  
    
    .header {
        width: 99vw;
        height: 50px;
        background-color: rgb(230, 216, 216);
        flex: 0 1;
    }
    
    .main {
        width: 99vw;
        /* Cambiar el valor de height para ver que el min-height siempre es el calculado */
        /* height: 1000px; */
        min-height: calc(99vh - 99px);
        background-color: rgb(182, 179, 179);
        flex-grow: 4;
    }
    
    .footer {
        width: 99vw;
        height: 50px;
        background-color: rgb(243, 161, 10);
        flex-shrink: 2;
    }

